In [23]:
import pandas as pd
import numpy as np

In [24]:
from src.data import prepare_folds

In [25]:
train = pd.read_pickle("data/v3/train.pkl")

In [32]:
threshold = 0.9

In [33]:
corr_matrix = train.corr().abs()
corr_matrix.head()

,balance_sum,content_count_m1,content_count_m3,data_type_2_m1,data_type_3_m1,days_exp,id,lt,count_app_4,data_type_1_m1,...,vol_app_7_prod_all_cost_m1,content_count_m1_prod_short_out_calls_part_m2,content_count_m3_prod_count_app_4,vol_app_5_prod_all_cost_m3,vol_app_4_prod_paym_last_days,com_num_cost_m2_prod_lt,content_count_m2_prod_short_out_calls_part_m2,conn_com_cost_m1_prod_all_count_m3,voice_in_uniq_count_m1_prod_short_in_calls_part_m1,conn_com_cost_m1_prod_all_cost_m2
balance_sum,1.000000,0.001061,0.028055,0.004198,0.000502,0.043844,0.048245,0.065909,0.014109,0.014585,...,0.002811,0.009297,0.029071,0.002693,0.004669,0.032729,0.015765,0.034115,0.078145,0.031762
content_count_m1,0.001061,1.000000,0.751717,0.111530,0.081503,0.111307,0.028594,0.032032,0.080355,0.069493,...,0.092587,0.431442,0.315879,0.069190,0.028849,0.120168,0.368792,0.159575,0.189037,0.135726
content_count_m3,0.028055,0.751717,1.000000,0.122113,0.088672,0.123998,0.025770,0.023506,0.087324,0.062336,...,0.080931,0.391353,0.401630,0.112572,0.031337,0.142461,0.389061,0.196496,0.193654,0.142665
data_type_2_m1,0.004198,0.111530,0.122113,1.000000,0.414275,0.102711,0.111974,0.093026,0.223196,0.367924,...,0.361009,0.064543,0.200155,0.457713,0.020356,0.139898,0.063712,0.255355,0.071825,0.152868
data_type_3_m1,0.000502,0.081503,0.088672,0.414275,1.000000,0.079882,0.068978,0.058851,0.203513,0.433677,...,0.222297,0.045582,0.170472,0.262039,0.010749,0.101825,0.046092,0.230871,0.064247,0.108594

In [34]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
upper.head()

,balance_sum,content_count_m1,content_count_m3,data_type_2_m1,data_type_3_m1,days_exp,id,lt,count_app_4,data_type_1_m1,...,vol_app_7_prod_all_cost_m1,content_count_m1_prod_short_out_calls_part_m2,content_count_m3_prod_count_app_4,vol_app_5_prod_all_cost_m3,vol_app_4_prod_paym_last_days,com_num_cost_m2_prod_lt,content_count_m2_prod_short_out_calls_part_m2,conn_com_cost_m1_prod_all_count_m3,voice_in_uniq_count_m1_prod_short_in_calls_part_m1,conn_com_cost_m1_prod_all_cost_m2
balance_sum,NaN,0.001061,0.028055,0.004198,0.000502,0.043844,0.048245,0.065909,0.014109,0.014585,...,0.002811,0.009297,0.029071,0.002693,0.004669,0.032729,0.015765,0.034115,0.078145,0.031762
content_count_m1,NaN,NaN,0.751717,0.111530,0.081503,0.111307,0.028594,0.032032,0.080355,0.069493,...,0.092587,0.431442,0.315879,0.069190,0.028849,0.120168,0.368792,0.159575,0.189037,0.135726
content_count_m3,NaN,NaN,NaN,0.122113,0.088672,0.123998,0.025770,0.023506,0.087324,0.062336,...,0.080931,0.391353,0.401630,0.112572,0.031337,0.142461,0.389061,0.196496,0.193654,0.142665
data_type_2_m1,NaN,NaN,NaN,NaN,0.414275,0.102711,0.111974,0.093026,0.223196,0.367924,...,0.361009,0.064543,0.200155,0.457713,0.020356,0.139898,0.063712,0.255355,0.071825,0.152868
data_type_3_m1,NaN,NaN,NaN,NaN,NaN,0.079882,0.068978,0.058851,0.203513,0.433677,...,0.222297,0.045582,0.170472,0.262039,0.010749,0.101825,0.046092,0.230871,0.064247,0.108594

In [35]:
to_drop = [column for column in upper.columns if any(upper[column] > threshold)]

print('There are %d columns to remove.' % (len(to_drop)))

There are 1252 columns to remove.

In [36]:
train_missing = (train.isnull().sum() / len(train)).sort_values(ascending = False)
train_missing.head()

count_url_category_12    0.983129
vol_app_11               0.977329
count_app_13             0.973143
vol_app_13               0.973143
count_gift_type_4        0.969586
dtype: float64

In [37]:
train_missing = train_missing.index[train_missing > 0.75]

In [38]:
all_missing = list(set(set(train_missing)))
print('There are %d columns with more than 75%% missing values' % len(all_missing))

There are 89 columns with more than 75% missing values

In [57]:
nuq = train.apply(lambda x: len(x.unique()))

In [14]:
train.shape

(70134, 637)

In [25]:
ss.shape

(30058, 460)

In [14]:
ss['id'] = ss.apply(lambda x: "ID_{}".format(int(x.id)),axis=1)

In [16]:
ss['prediction'] = 0.0

In [17]:
ss[['id', 'prediction']].to_csv("data_o/sample_submission_music.csv", index=False)

In [4]:
im = pd.read_csv('data/v3/inter_importances.csv', index_col=0)

In [7]:
data = pd.read_pickle('data/v2/train.pkl')

In [10]:
data['content_count_m1'].head()

0    23.0
1    30.0
2    52.0
3    32.0
4    65.0
Name: content_count_m1, dtype: float64

In [35]:
data = pd.read_pickle('data/v3/train.pkl')

In [16]:
c = data.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort")